<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApp">
        <activity android:name=".PracticeModeIntro"></activity>
        <activity android:name=".TenthQuestion" />
        <activity android:name=".NinthQuestion" />
        <activity
            android:name=".EigthQuestion"
            android:label="@string/title_activity_eigth_question"
            android:theme="@style/Theme.QuizApp.NoActionBar" />
        <activity
            android:name=".SeventhQuestion"
            android:label="@string/title_activity_seventh_question"
            android:theme="@style/Theme.QuizApp.NoActionBar" />
        <activity android:name=".SixthQuestion" />
        <activity android:name=".FifthQuestion" />
        <activity android:name=".FourthQuestion" />
        <activity android:name=".ThirdQuestion" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".SecondQuestion" />
        <activity android:name=".FirstQuestion" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>